<!doctype html>

<html>
  
<head>
  <title>Tea</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</head>
  
<body>
  <div class="container">
    <div class="row">
      <div class='col-md-6 col-md-offset-3'>
        {{ content }}
      </div>
    </div>
  </div>
</body>
</html>
